<%- include('partials/header') %>

<div class="user-container">
  <div class="columns">
    <h2>Register</h2>
    <div class="email-column">
      <form action="/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" /><br />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" /><br />
        <button type="submit">Register</button>
      </form>
    </div>
    <div class="google-column">
      <a href="/auth/google" role="button">
        <i class="fa-brands fa-google"></i>
        Signin with Google
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
