<%- include('partials/header') %>

<div class="signin-container">
  <div
    class="img-carousel carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="100">
        <img
          src="https://www.instagram.com/static/images/homepage/screenshots/screenshot3.png/94edb770accf.png"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-interval="100">
        <img
          src="https://www.instagram.com/static/images/homepage/screenshots/screenshot2.png/4d62acb667fb.png"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-interval="100">
        <img
          src="https://www.instagram.com/static/images/homepage/screenshots/screenshot4.png/a4fd825e3d49.png"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-interval="100">
        <img
          src="https://www.instagram.com/static/images/homepage/screenshots/screenshot1.png/fdfe239b7c9f.png"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="signin">
    <div class="home__logo">
      <h1 class="display-3">Postagram</h1>
      <i class="fa-brands fa-instagram fa-6x" id="insta"></i>
    </div>

    <p class="lead">
      Share videos, photos, and fun moments with the friends you love
    </p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
